################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/bin/Debug/netcoreapp3.1
/test/bin/Debug/netcoreapp3.1
/test/obj
/src/obj
/src/bin/Release/netcoreapp3.1
/test/bin/Release/netcoreapp3.1
